<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" height="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link-header" href="#">Mon Compte </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link-header" href="#">Présentation </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link-header" href="#">Nous contacter </a>
      </li>
    </ul>
  </div>

  <a class="navbar-user" href="#">
      <img src="assets/img/user.png" alt="">
  </a>
</nav>