<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" height="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link-header" href="#">Presentation </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link-header" href="#">Our Services </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link-header" href="#">Contact Us   </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link-header" href="#">Join Us </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link-header">
            <div class="input-group">
              <input type="search" class="form-control  border-secondary py-2" placeholder="Search">
              <div class="input-group-append">
                <button class="rounded-right" type="button">
                  <img class="img-loupe" src="./../../assets/img/magnifier-tool.png" alt="">
                </button>
              </div>
            </div>
          </a>
      </li>
    </ul>
  </div>
  <a class="navbar-user" routerLink="login" *ngIf="!isLogin">
      <img src="./../../assets/img/user.png" alt="">
  </a>
  <a class="navbar-user" routerLink="myprofile" *ngIf="isLogin">
    <img src="{{ user.photoUrl }}">
    <div>
      <h4>{{ user.name }}</h4>
      <p>{{ user.email }}</p>
    </div>
  </a>
</nav>